/node_modules
/vendor
/public
/storage/*.key
/storage/logs
/storage/debugbar
/storage/framework
/static
/nbproject
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.project
composer.lock
package-lock.json