<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="alue-subsys">
    <title>アルー｜宿題・会員管理システム</title>

    <style>
        body {
          font-family: "IPAゴシック", "IPAGothic";
        }
        .pdf-footer {
          width: 100%;
          height: 30px;
          text-align: center;
          background: #555;
          line-height: 30px;
          color: #fff;
          font-size: 12px;
        }
    </style>
  </head>
  <body>
    <div class="pdf-footer">
        <span>© 2018, Alue Co., Ltd. All Rights Reserved.</span>
    </div>
  </body>
</html>
